#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

# 5의 배수 출력하기
for number in numbers:
    if number % 5 !=0: 
        continue  # 5의 배수가 아니면 pass 해라 -> 다시 위로 올라가라 -> 결국 5의 배수만 ..
    print(number)

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number % 5 ==0:
        print(number)

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number % 2 ==1:
        print(number)  #  홀수 뽑고
    else:
        print('aa') # 6, 20은 안뽑히고 else구문 aa 실행

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number<15: # 15미만인 number
        continue # 15보다 작은수면 pass -> 계속 반복문 돌림
    print(number)

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [ ]:
# 함수를 선언합니다.
def power(a):
    return a*a

def under_3(b):
    return b<3

# 변수 선언
list_input_a =[1,2,3,4,5]

In [ ]:
# 함수를 선언합니다.
def power(a):
    return a*a

def under_3(b):
    return b<3

# 변수 선언
list_input_a =[1,2,3,4,5]

# map 함수 사용
output_a = map(power, list_input_a) # map(function, iterable) 첫 번째 매개변수 함수, 두 번째 매개변수 반복 가능한 자료형(리스트, 튜플) 
print(output_a)
print(list(output_a)) # map 함수의 반환 값은 map 객체이므로 list나 tuple로 형 변환시켜주어 출력

# filter 함수 사용
output_b = filter(under_3, list_input_a)
print(output_b)
print(list(output_b))

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [3]:
try:
    number=int(input('정수 입력 : '))
    
    if number%2==0:
        print('짝수')
    else:
        print('홀수')
        
except ValueError: # 예외처리 ValueError가 발생시 해당 구문 출력
    print('정수를 입력해 주세요')

정수 입력 : 8
짝수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [ ]:
x=lambda a,b: a**b- a*b ## a의 b 제곱 -> a**b
print(x(2,5))
print(x(5,2))

#### ***5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [49]:
num = input('아무 숫자나 입력하세요 : ')

if num.isdigit(): # 숫자면 아래 조건문 실행
    num = num[::-1] # 역순으로 반환하여 num에 담기
  # print(num)
    ret='' # 입력받은 값 담을 변수
    for i, c in enumerate(num): # 인덱스와 원소를 동시에 접근하면서 루프를 돌림 key, value
        i+=1 # key 시작을 1부터
        if i != len(num) and i%3 ==0: # key가 입력받은 숫자 길이와 같지 않고 key가 3의 배수면
            ret +=(c+',') # 입력받은 값에 천단위 콤마 부치고
        else: # 세자리가 아니면
            ret +=c # value값을 ret에 담기
    ret = ret[::-1] 
    print(i,ret)
    
else: # isdigit가 아니면 하단 내용 출력
    print('입력한 내용[%s]은 숫자가 아닙니다.'% num)

아무 숫자나 입력하세요 : 513
3 513

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [12]:
example_list = ["요소A", "요소B", "요소C"] # 리스트 선언

for i,value in enumerate(example_list):
    print('{}번째 요소는 {}입니다.'.format(i,value))

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [13]:
a,b=97,40
divmod(a,b)

(2, 17)

In [14]:
a, b, c, d = 40,20,10,30
def mod(a,b):
    return a/b # 2
int(mod(a,b))*c-d

-10

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [19]:
# 변수를 선언
list_number = [52, 273, 32, 72, 100]

# try except 구문으로 예외 처리
try:
    # 정수 입력
    number_input = int(input("0~4 정수 입력> "))
    # 리스트와 요소를 출력
    print('{}번째 요소 : {}'.format(number_input, list_number[number_input]))
except ValueError:
    print('정수를 입력해 주세요')
except IndexError:
    print('리스트의 인덱스를 벗어났어요!')
except Exception as e:
    print(e)
finally:
    print('예외 처리 완료')

0~4 정수 입력> 5
리스트의 인덱스를 벗어났어요!
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [20]:
n1=int(input('정수 입력>'))
n2=int(input('정수 입력>'))

if n1>n2:
    print(n1)
else:
    print(n2)

정수 입력>5
정수 입력>3
5

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [34]:
max_value=0

for i in range(1,100): # i는 1부터 99까지 할당
    j = 100-i # j는 99부터 1까지 할당
    current = i*j # 1*99, 2* 98, 3*97 ... 1*99 -> current 변수에 담기
    
    if max_value<current: # 그게 만약 max_value이 < current보다 크면
        max_value= current # current가 max_value
print(max_value) # 그것을 출력

2500

<img src='정규식표현.png' width='620'>

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.

In [40]:
import re
# 정규 표현식 (Regular Expression)
text ='문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다.'

regex= re.compile(r'(\d{3})-(\d{3}-\d{4})') # \d는 숫자를 의미 , {} 중괄호는 반복의 의미
matchobj = regex.search(text) # search는 전체 탐색 
areaCode = matchobj.group(1) # group1인것을 반환
# num = matchobj.group(2) -> 232-3245
# fullNum = matchobj.group() -> 032-232-3245
print(areaCode)

032

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [44]:
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
print(m.group(1)) # 바깥쪽 부터 하나씩 괄호 벗겨낸다 생각 -> j 제거
print(m.group(5))
print(m.group(0))

abcdefghi
e
abcdefghij

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [45]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
a[9:11]=[] # 9부터 10까지 
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [46]:
sum=0 # 누적 합을 기억할 변수
for i in range(500,1000):
    if (i%5==0)&(i%7==0):
          sum+=i #누적합
    i+=1 # 할당변수에 1씩 증가시킴 --> if문 줄에 맞춰서 들여쓰기
print(sum) # 출력은 처음 for문에 맞춰 들여쓰기

10535

#### ***15. [    ]을 채워서 아래와 같이 출력하세요.

In [47]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]  # 칸이 3개이므로 %3

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  ***16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [48]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
counter ={} # 딕셔너리 형태로 담기 -> key, value
for number in numbers: # numbers 리스트에 있는 숫자들을 하나씩 number에 할당
    if number in counter: # counter에 number가 있으면
        counter[number]+=1  
    else:
        counter[number]=1
print(counter) # 맨 마지막 출력은 처음 for문에 맞춰 들여쓰기

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [58]:
class Country:

    
class Korea(Country):
        
    def desc1(self, gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.'%(self.gnp))
            
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [57]:
class Country:
    def __init__(self, name, pop, capital): # 생성자
        self.name=name
        self.pop=pop
        self.capital=capital
        
    def desc(self):
        print('%s의 인구는 %d천만명이며 수도는 %s입니다.'%(self.name,self.pop,self.capital))
        
class Korea(Country): # 오버라이딩
        
    def desc1(self, gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.'%(self.gnp))
            
obj = Korea('한국',5,'서울') # 객체 생성
obj.desc() 
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [64]:
class FourCal:
    def __init__(self, first, second): # 생성자 
        self.first = first
        self.second = second
        
    def sum(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result
    
a1 = int(input('정수1 입력 > >'))
a2 = int(input('정수2 입력 > >'))
cal4= FourCal(a1,a2) # 객체 생성
    
print('덧셈 : {}, 뺄셈 : {}, 곱셈 : {}, 나눗셈 : {}'.format(cal4.sum(), cal4.mul(), cal4.sub(), cal4.div()))

정수1 입력 > >90
정수2 입력 > >30
덧셈 : 120, 뺄셈 : 2700, 곱셈 : 60, 나눗셈 : 3.0

### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [73]:
import time
t = time.localtime() # time 모듈의 localtime 함수를 사용하면 time에서 반환한 값을 날짜와 시간 형태로 변환
start_day = '%d-01-01' %t.tm_year
passed_day = t.tm_yday # tm_wday 요일, tm_yday 몇 번째 날짜
print('오늘은 %s 이후 %d일째 되는 날입니다.'%(start_day, passed_day))

오늘은 2022-01-01 이후 30일째 되는 날입니다.
1643478619.6340854

#### ***20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [72]:
# tmp -> Temporary 
# ret -> return
filename = 'data/names/yob2015.txt'
nameF={} # key, value 딕셔너리 형태
nameM={} 

with open(filename,'r') as f:
    data=f.readlines() # 전체 출력
    for d in data:
        if d[-1] =='\n': # 마지막 요소가 개행이면
            d =d[:-1] # 맨 마지막값을 d에 저장
            
        tmp = d.split(',') # 구분자로 분리 하여 임시적인 변수 tmp에 담고
        name = tmp[0] # tmp[0]-> name
        sex = tmp[1] # tmp[1]-> sex
        birth= tmp[2] # tmp[2]-> birth
        
        if sex =='F': # sex가 F이면
            ret=nameF  # nameF를 ret 변수에 담아
        else:
            ret = nameM
        
        if name in ret:  # ret변수 안에 name이 있으면
            ret[name]+= int(birth) # ret[name] = ret[name]+int(birth) -> name과 birth을 담아라 ret[name]에
        else:
            ret[name]= int(birth)


retF = sorted(nameF.items(), key=lambda x:x[1], reverse=True) 

for i, name in enumerate(retF):
    if i >4:
        break
    print('TOP_%d 여자 아기 이름 : %s'%(i+1, name))

TOP_1 여자 아기 이름 : ('Emma', 20463)
TOP_2 여자 아기 이름 : ('Olivia', 19705)
TOP_3 여자 아기 이름 : ('Sophia', 17430)
TOP_4 여자 아기 이름 : ('Ava', 16383)
TOP_5 여자 아기 이름 : ('Isabella', 15633)