# 파이썬 기초
## 파이썬이란
   - 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
   - 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성
  
## 파이썬의 특징
   - 파이썬은 인간다운 언어이다
   - 파이썬은 문법이 쉬워 빠르게 배울 수 있다
   - 파이썬은 무료이지만 강력하다
   - 파이썬은 간결하다
   - 파이썬은 프로그래밍을 즐기게 해준다
   - 파이썬은 개발 속도가 빠르다
   
## 파이썬으로 할 수 있는 일
   - 시스템 유틸리티 제작
   - GUI 프로그래밍
   - C/C++와의 결합
   - 웹 프로그래밍
   - 수치 연산 프로그래밍
   - 데이터베이스 프로그래밍
   - 데이터 분석, 사물 인터넷
   
## 참조
   - 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
   - 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
   - 프로그램 : 문장이 모여서 프로그램
   - 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
   - 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
   - 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
   - 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
   - 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
   - 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
# 표현식
print(273)
10+20+30

273

60

In [2]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [3]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [4]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

### 식별자 기본 규칙
   - 키워드를 사용하면 안된다.
   - 특수문자는 언더 바(_)만 사용가능
   - 숫자로 시작하면 안된다.
   - 공백을 포함할 수 없다.

In [5]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [6]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b  # 나머지
g = a // b # 몫
h = 2 ** 3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [7]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 10
a = '문자'
# a = 100
type(a)

In [ ]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

In [ ]:
# 사용자 입력
input('인사말을 입력하세요: ')

In [ ]:
num = input('숫자를 입력하세요: ')
print(num)
type(num)

In [ ]:
# input() 함수를 사용하면 str값으로 반환 -> 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

In [ ]:
 # 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1 + num2)

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.
a = 52
b = 52.273
print(str(a)+str(b))

In [ ]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

In [ ]:
s1 = '"python is valuable" he says'
s1

In [ ]:
# string = '''"What a wonderful world!"\n he said loudly'''
string = '''"What a wonderful world!"
he said loudly'''
print(string)

In [ ]:
# 문자열 연산
a1 = 'Python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3) # python 3번 출력
print("=" * 20) # = 20번 출력

In [ ]:
# 자료형 - List 
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1=[1,2,3,4,5]  #파이썬에서 인덱싱 0 번째가 1
lsit2=['a','b','c']
list3=[1,'a','abc',[1,2,3,4,5],['a','b','c']] # 리스트 안에 리스트원소 가능
print(list3)

In [ ]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[:] # 전체
list3[2] # abc
list3[3][4] # list3의 4번째 원소의 5번째 값 -> 5
list3[4][1] # list3의 4번째 원소의 2번째 값 -> b

In [ ]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
a[0] = 1 # 0번째 원소가 0인데 1로 바꿈
b[1] = 'a'
print(a)
print(b)
del b[1]  #리스트 삭제 del
print(b)

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a','b','c']
c = a + b #숫자 먼저 출력되고 문자
print(c)
c[-1] = 1 #마지막 인덱싱
c

In [ ]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

In [ ]:
b=[2,4.10,4,10.3,9]
b.sort()
print(b) # [2, 4, 4.1, 9, 10.3]
b.reverse()
print(b) # 역순

In [ ]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(3)) # c리스트에서 숫자 3의 위치 a [2]의 순서를 반환 2번째

print(c. index(5)) # c리스트에서 숫자 5의 위치 a[4]의 순서를 반환 4번째

print(c. index(2)) # c리스트에서 숫자 2의 위치 a[1]의 순서를 반환 1번째

In [ ]:
import numpy as np
c = np.random.randint(100,size=100).tolist()
print(c)
c.index(65)
# type(c) tolist -> list

In [ ]:
# 개수 반환
c = [1,1, 3,3 ,3,5 ,5]
print(c.count(3))

In [ ]:
# 리스트 확장
h=[1,2,3]
h.extend([4,5]) # 3뒤에 4, 5 추가
print(h)

# 추가
h.append(6) #하나
print(h)
h.insert(0,5)  #0번째 인덱스에 5를 삽입해줘
print(h)
h.insert(5,9)  #5번째 인덱스에 9를 삽입해줘
print(h)
len(h) #h이 길이

In [ ]:
# 튜플
tuple1=(1,2,3,4,5) # 소괄호
print(tuple1)
tuple3 = (1,'a','abc',[1,2,3,4,5],['a','b','c'])

#tuple1[:] # tuple1 전체 출력

tuple3[2] # tuple3의 2번째 요소 출력 -> abc
tuple3[3][4] # tuple3에서 3번째 원소 중 4번째 값 5 출력
# tuple3[3][3]

In [ ]:
print(list1)
list1[0] = 6 #리스트는 바꿔서 출력 가능 튜플은 값 변경 못함 
print(list1)

In [ ]:
tuple1[0]=4 # 리스트와 다르게 튜플은 값을 변경하지 못함

In [ ]:
t1=(1,) # 튜플 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)

t2=1,2,3
print(t2)
print(t2*2) # t2의 값을 2번 출력

t3=t1+t2
print(t3) # 이어 붙이기

In [ ]:
# 사전 딕셔너리(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1={'a':1,'b':2,'c':3}
print(d1['a'])
d1['b']=5
print(d1)

In [ ]:
print(d1.keys())  # 딕셔너리에서 키만 따로 뽑기 가능 a b c
print(d1.values()) # 값만 출력 가능 1 2 3 
print(d1.items()) # 키 값 둘다 출력

In [ ]:
c1={'삼각김밥':700, '컵라면':1500, '감동란':2500}
print(c1.keys())

c1['삼각김밥']=1000 # 딕셔너리 값 변경
c1['피자']=20000 # 딕셔너리 값 추가 맨끝으로 추가됨
print(c1.items()) # 딕셔너리 key, values 모두 출력
print(c1.values()) 
print(c1.keys())

del(c1['피자']) # 딕셔너리 값 삭제
print(c1)

c1.pop ('컵라면') # pop으로 삭제 
print(c1)
type(c1)

In [ ]:
#자료형 집합 set(중복을 허용하지 않으며 순서가 없)
s1=set([1,2,5,4,3,1,1,3,4,78,92,131])#중복 없이 한번만 출력
s2=set('hellofuckingjupyter') #순서 지 맘대로 뽑아냄
print(s1)
print(s2)

In [ ]:
#집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱 가능
l1=list(s1) #집합s1을 리스트로 변환하여 l1변수에 저장
print(l1[1]) #리스트로 변환하여 1번째 요소값 출력 0, 1, 2 ....
l2=list(s2)
print(l2[10])

In [ ]:
#s1,s2의 합집합과 교집합을 각각 리스트로 출력하세요.
#합집합(s1 | s2), 교집함(s1&s2) 차집합(s1-s2)
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

print(list(s1|s2)) #합집합 중복 출력안해줌
print(list(s1&s2)) #중복값만 출력
print(list(s1-s2)) #중복값을 제외한 나머지 출력
print(list(s2-s1)) #중복값을 제외한 나머지 출력

In [ ]:
#들여쓰기 
li=['a','b','c']
if 'a'in li: #if조건문 li리스트안에 a가 잇다면
    print('a가 li에 있습니다.') #출력
else: #아니면
    print('a가 li에 없습니다')#출력

In [ ]:
#문자열 포멧  ->  a='가나다라' f ' {a}  '
name='왕만두'
age=20
location='서울'
f'나의 이름은 {name}입니다. 나이는 {age}입니다'
f'나의 이름은 {name}입니다람쥐 나이는 {age} 사는곳은 {location}'

In [ ]:
a={'name':'돌쇠', 'age':108}
f'나의 이름은 {a["name"]}입니다. 나이는 {a["age"]}입니다'

In [ ]:
y=3.14589
f'{y:0.2f}' # 소수점 2자리까지 표현

#f'{y:10.4f}' #소수점 4자리까지 총 10자리로 표현

In [ ]:
# 포멧함수 format()
#f="{} 선수가 {}등입니다".format('홍길동',1)
f1="{2}출신인 {0} 선수는 {1}입니다".format('우주비행사노무현','1등','전라도')#포멧형식에서 인덱싱끌어다 사용가능
print(f1)

In [ ]:
f2="{1}은 {0}보다 {2}배 악질입니다".format('국힘','민주당',50)
print(f2)
print("%s은 %s보다 %d배 역겹습니다" %("민주당","국힘",50)) # %s 문자 받기 %,d 정수형 받기

In [ ]:
num1=12345.11223344
print(num1)
print(f'{num1:10.2f}') # 10자리수로 소수점2자리서 컷

In [ ]:
# 제어문 - if~elif~else
# 수입과 지출금액 비교 수입 많으면 저축 증가 반대면 빚 증가 같으면 현상 유지
income=int(input('수입: '))
expend=int(input('지출: ')) #변수명 = int(input('입력문구'))

if income>expend:
    print('저축 증가')
elif income<expend:
    print('빚 증가')
else:
    print('현상유지')

In [ ]:
#for 반복문
numbers=[5,15,6,20,7,25]
for i in numbers:
    print(i,end='  ') #enf = '   ' 출력 양식 칸띄우기 한줄에서

In [ ]:
#for ~continue ~ break
#1~10 범위의 정수에서 1부터 5까지만 출력
for i in range(1,11): # 1부터 10범위에서 하나씩 꺼내 i로 할당
    print(i, end=' ') # 같은줄에서출력 한칸씩 띄우고 
    if i<5: # 5 미만이면
        continue # 다시반복
    else: # 6이상부터 
        break # 브레이크

In [ ]:
for number in numbers:
    if number<10: #number가 10보다 작으면
        continue  #다시 돌아가
    else:         #10보다 크면
        print(number,end=' ') #그거 출력해

In [ ]:
#정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하라

x=1 #1부터의 변수 설정
sum=0 # 합 담을 변수 초기화 설정
while 1: #무한루프동안
    sum+=x #계속합해 그냥
    
    if sum>1000: #그러다 합이 1000보다 크면
        print(x) #그때의 더한 x값
        print(sum) #그때의 총합
        break #그리고 나가라
    x+=1

In [ ]:
#while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하라

i=0 # 1부터 n까지의 1씩 증가시키며 반복시킬 변수 설정
sum=0 # 합을 기록할 변수 sum 만들고 0으로 초기화

while i<1000: # 999까지
    i+=1 # i를 증가 시킴
    if i%3==0: # 3의 배수면
        sum+=i # 3의 배수인 i를 다 더해라
print(sum)

In [ ]:
#과제 1부터 100까지의 정수중 5에서 95까지의 합
num=0
sum=0
while num<=100: #100이하까지 무한반복 돌리는데
    if(num>=5 and num<=95): #숫자5이상 그리고 95이하 조건에서
        sum+=num  # 합
    num+=1 # num 증가시켜주기
        
print(num)
print(sum)

In [ ]:
# 5를 2로 나누었을때의 몫과 나머지를 구하세요.
a=5
b=2
print(a//b) # // 는 몫
print(a%b) # % 는 나머지

In [ ]:
# 101의 3승을 구하세요
print(101**3)

In [ ]:
a='py'
b=str(3.8) #str로 형변환
print(a+b)

In [ ]:
# 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.
print((5**3)%3) # (5**3)%3

tmp=5**3
tmp%=3
print(tmp)

In [ ]:
name=input('성함 입력 : ')
f'{name}다'

name=input('이름 : ')
print('내 이름은 '+name+'이다')

In [ ]:
name = input('이름이 무엇인가요? ')
print('제 이름은 '+name+'입니다.')

In [ ]:
# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나누었을 때 몫을 구하세요.
num1 = int(input('숫자1 : '))
num2 = int(input('숫자2 : '))
num3 = int(input('숫자3 : '))

cal=(num1**num2)//num3
print(cal)

In [ ]:
#while문 사용 1부터 1000까지의 정수중 3과 5의 공배수의 합
i=1 #1부터 증가시킬 변수 설정
sum=0 #합 담을 변수 

while i<=1000: #1000까지 무한반복돌리는데 
    i+=1  #그리고 i 계속 증가 시키기
    if i%15==0: #그 중 15의 배수이면
        sum+=i  #합에 담아라
print(sum)

In [ ]:
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요
a=[0,1,2,3,4,5,6,7,8,9,10,11,12] # 12가 a[-1]

del a[-4]
del a[-3]
print(a)

In [ ]:
#[0,1,2,3,4,5,6,7,8,'b','c']에서 'c'를 삭제 후 출력
a=[0,1,2,3,4,5,6,7,8,'b','c']
i=0
del a[-1]
print(a)
for i in a:
    print(i, end=' ')

In [ ]:
# [4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬
list3=[4,8,5,4,8,4,3,9,1,9]
list3_desc=sorted(list3, reverse=True) # sorted(변수명, reverse=True)
print(list3_desc) #중복 출력

In [ ]:
#format 함수를 이용해서 현재 날짜/시간 출력

from datetime import datetime
now=datetime.now()
print(now) # 현재 날짜 -> 년, 월, 일, 시, 분, 초
print(now.year) # -> 현재 날짜에서 년만 추출
f'{now.year}년 {now.month}월 {now.today}일 {now.hour}시 {now.minute}분 {now.second}초'

In [ ]:
#현재 시각을 오전과 오후로 구분

import datetime
now= datetime.datetime.now()

if now.hour<12:
    print(f'현재시간은{now.hour}시로 오전입니다')
else:
    print(f'현재시간은 {now.hour}시로 오후입니다')

In [ ]:
import datetime
season = datetime.datetime.now()

if season.month<12 & season.month >=9: # 11 ~ 9월이면 가을
    print('가을')
elif season.month <9 & season.month>=6:  # 8 ~ 6월이면 여름
    print('여름')
elif season.month <6 & season.month>=3:  # 5 ~ 3월이면 봄
    print('봄')
else:
    print('겨울')

In [ ]:
#정수 입력 홀짝 판별
num=int(input('숫자 입력 :'))
if num%2==0: # 나머지가 0이면
    print(f'입력한 숫자 {num}은 짝수')
else:
    print(f'입력한 숫자 {num}은 홀수')

In [ ]:
x=lambda a, b : a**b # 람다 함수-> lambda 인자: 공식
print(x(2,10))

### 커피 자판기 프로그램

   - 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
   - 각 Case별 멘트 출력은 상황에 맞게 창작
   - while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
#2와 5를 더한후 3으로 나눈 몫을 사용자 함수로 구하라
def cal_abc(a,b,c): #함수 def 선언
    return (a+b)//c #f리턴값

cal_abc(2,5,3) #함수 호출

In [ ]:
# 문자열 앞의 공백을 제거하고 아래와 같이 출력하세요# 문자열 앞의 공백을 제거하고 아래와 같이 출력하세요
a ="             나  는  야  우    주 비행사      '노'          무현     "
#print(a)
print(a.strip()) #앞의 공백만을 없애줌

In [ ]:
# '10/20/30/40/50' /을 기준으로 구분
a='10/20/30/40/50'
b='10:20:30:40:50'
print(a)  #그대로 출력
print(a.split('/')) # /로 구분
print(b) #그대로 출력
print(b.split(':')) # :로 구분

In [ ]:
# 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.
x = int(input('입력하세요:'))
y = int(input('입력하세요:'))

if(x%2 ==0) & (y%2==0):
    print(x*y)
elif(x%2==1)& (x%2==1):
    print(x+y)
else:
    print('다시 입력하세요')

In [ ]:
#1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구해라 1*99, 2 *98, 3*97.. 99*1

n=1 #1부터 쭉 이어갈 변수
result=0 #가장 큰수를 저장할 변수
while n<=100: #100까지 무한루프
    a=n*(100-n) # 99=1*99
    if a>result: #만약 99가 가장 큰수보다 크다면
        result=a  # 가장 큰수는 a다
      #  n+=1 # ?????
    else: # 만약 99가 가장 큰수보다 작다면
        n+=1 # 쭉 수는 증가시키면서
        continue #다시 위로 올려보내
print(result)
print(n)

In [ ]:
def findBiggestOne(): # 사용자 정의 def ():
    # zip() 동일한 리스트의 개수를 묶어주는 함수
    biggestNum=0  #가장큰수 담을 변수 
    for i,j in zip(range(1,100),range(99,0,-1)): #1부터 99까지 99부터 1까지 
        if i*j>biggestNum:
            biggestNum=i*j
    return biggestNum
print(findBiggestOne())

In [ ]:
#[[1,4,7],[2,5,8],[3,6,9]] 형식으로 출력

numbers=[1,2,3,4,5,6,7,8,9]
output=[[],[],[]]

for number in numbers:
    output[(number-1)%3].append(number) #위치는 0부터 시작하므로 number-1하고 칸 3개므로 3개로 나누어줌 
                                        #그걸 .append함수로 뿌려줌
print(output)
print(0%3)

In [ ]:
import numpy as np
np.random.seed(2) # 랜덤 고정
num = np.random.randint(20,size=20) # 0 부터 19까지 size20개 출력
num

In [ ]:
import random

num=input("게임 수 : ") #출력화면 num변수 받기

for i in range(0,int(num)): # 0부터 게임수까지 돌림
    lotto = random.sample(range(1,46),6) # 1부터 45까지 수 중 6개 추출 랜덤으로
    lotto.sort() #추출한 로또 숫자 소트
    print(lotto)

In [ ]:
import random, string
cn='y'
print('**로또번호 생성기**')
while(cn=='y'):
    game=input('게임횟수를 입력하세요(숫자만 입력): ')
    if(game.isdigit()==True): # 입력받은게 정수면 밑에 반목문 실행
        for i in range(0, int(game)): #포문 0부터 게임횟수만큼 I할당
            lotto=random.sample(range(1,46),6) # 1부터 45까지 6개 무작위 추출
            lotto.sort() #로또 정렬
            print(lotto)
            cn='n'
    else:
        print("숫자를 입력하세요")
        continue

In [ ]:
from random import shuffle
from time import sleep

gnum=int(input('로또 횟수를 입력하세요>')) #게임수 입력
for i in range(gnum): #게임수만큼 반복
    lt=[x+1 for x in range(45)]  # list = return대상 for 반복변수 in 범위 (if 조건식)]
    ret=[]
    for j in range(6):
        shuffle(lt)
        num=lt.pop()
        ret.append(num)
        ret.sort()
    print('로또번호 %d: ' %(i+1), end='')
    print(ret)
    sleep(2)

In [ ]:
# Q. 발표할 인원을 입력하면 랜덤으로 발표자를 리스트로 출력해 주는 프로그램을 작성하세요(중복 허용하지 않음)

from random import shuffle

name = ['권혁종', '김기연', '김기현', '김민성', '김영수', '김재경', '김정수', '김태형', '마경수', '문성윤',
       '박광민','박종석','손창효','어정호','예지우','오주완','용지영','이동연','이용준','이재우',
       '이재호','이현정','임재곤','장종호','정현우','조경윤','조남현','최종원','최지원']
member=[]
shuffle(name)
num=int(input('발표할 인원을 입력하세요 : '))
for i in range(num):
    member.append(name[i])
    
print(member)

In [ ]:
# [과제] 남녀 파트너 정해주기 프로그램을 작성하세요(5개 커플)
import random

male = ['정우성', '원 빈', '강동원', '조인성', '이광수']
female = ['김혜수', '신민아', '이나영', '천우희', '한예슬']

random.shuffle(male)
random.shuffle(female)

for i in range(0, 5):
   print(f'커플{i+1}: {male[i]} ♥️ {female[i]}')

In [ ]:
import random
male=['남자1호','남자2호','남자3호','남자4호','남자5호']
female=['여자1호','여자2호','여자3호','여자4호','여자5호']
couple=[]

for i in range(5):
    random.shuffle(male)
    random.shuffle(female)
    
    c=[male[0], female[0]] # 담을 list 선언
    couple.append(c) # list.append(x)는 리스트 끝에 x 1개를 그대로 넣습니다.
                    # list.extend(iterable)는 리스트 끝에 가장 바깥쪽 iterable의 모든 항목을 넣습니다.
    del male[0]
    del female[0]
print((couple))
type(c)

In [14]:
import random
m = list('12345')
f = list('abcde')

random.shuffle(m)
random.shuffle(f)
couples = zip(m,f)
for i, couple in enumerate(couples): # enumerate -> 인덱스와 원소를 차례대로 접근하게 해주는 iterator 객체를 반환
    print('Couple%d: %s-%s' %(i+1, couple[0],couple[1]))

Couple1: 3-b
Couple2: 1-c
Couple3: 5-e
Couple4: 2-d
Couple5: 4-a

In [13]:
# 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요.
# 입력 abcde -> 출력 bcdea
str= 'abcde'
lst = list(str)
print(lst) # 리스트 형태로

lst.append(lst[0])
lst.remove(lst[0])
str =''.join(lst) # 문자열 합치기 -> 구분자.join(리스트)
str

['a', 'b', 'c', 'd', 'e']

'bcdea'

In [12]:
a=list(input("입력 : "))

for i in range(len(a)-1): # 0, 1, 2 -> range(2) 와 같음
    print(a[i+1],end='') # a[1] 띄고 a[2] 띄고  a[3]
print(a[0]) # 맨 처음글자를 마지막에
len(a) # 3

입력 : 가나다
나다가

3