In [1]:
# random은 난수를 발생시키는 모듈
import random
random.random() # 0.0에서 1.0사이의 실수 중에서 난수 값을 리턴

0.7673532800354426

In [1]:
import random # 난수를 발생시키는 모듈
random.random()

0.05445836807825577

In [2]:
#1.0~10.0 사이의 난수값
random.random()*10

6.989564617337718

In [2]:
random.random()*100

65.34958429354893

In [3]:
#random.shuffle()
data=[1,2,3,4,5]
random.shuffle(data) # 리스트에 있는 요소들을 무작위로 섞어 출력함
datae

[3, 4, 5, 2, 1]

In [4]:
abc=[1,2,3,4,5]
random.shuffle(abc)
abc

[1, 2, 3, 5, 4]

In [4]:
#1~100사이의 임의 짝수를 출력
random.randrange(1,101,2)

60

In [24]:
random.randrange(1,21,5) #1~20사이의 5씩 증가 1, 6, 11, 16

6

In [5]:
#1~55사이의 정수중에서 난수값 리턴
random.randint(1,55)

8

In [25]:
random.randint(1,20) # 1 ~ 19사이의 정수중 난수값 리턴

10

In [8]:
# [1,2,3,4,5,6,7,8,9]에서 임의로 3개 선택
numlist= [1,2,3,4,5,6,7,8,9]
random.sample(numlist,3)

[4, 8, 9]

In [27]:
numlist=[1,2,3,4,5,6,7,8,9]
random.sample(numlist,2) # numlist에서 임의로 2개 선택

[7, 3]

In [9]:
#numbers에 들어있는 숫자가 몇 번 등장하는지 출력
numbers=[3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
dic_num={}
for i in set(numbers):
    dic_num[i]=numbers.count(i)
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [29]:
numbers=[3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4] # numbers 리스트
dic_num={} # 몇번 등장할지 카운팅하는 변수 선언
for i in set(numbers): # set 중복제거하고  numbers 리스트에서 하나씩 꺼내 i로 할당
    dic_num[i]=numbers.count(i)  
print(dic_num)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [1]:
 ## 이해안감 다시보기
numbers=[3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
print(len(numbers)) # 18개
numdict={} 
for i in range(10): #0부터 9까지 
    numcount=0 # 몇번 등장하는지 개수 세는 변수 설정 및 초기화
    for j in range(len(numbers)): # 18번 반복
        if i==numbers[j]:
            numcount+=1
            
    numdict[i]=f'{numcount}개'
    
print(numdict)

18
{0: '0개', 1: '0개', 2: '2개', 3: '4개', 4: '2개', 5: '2개', 6: '2개', 7: '2개', 8: '2개', 9: '2개'}

In [37]:
#list [0,1,2,3,4,5,6]을 내림차순으로 출력
n= [0,1,2,3,4,5,6]

# 첫번째 방법
print(n[::-1]) #처음부터 끝까지 역순으로   -2는 6부터 역순으로 2씩 감소
# 두번째 방법
list.reverse(n) #list.reverse(변수명)
print(n)

[6, 5, 4, 3, 2, 1, 0]
[6, 5, 4, 3, 2, 1, 0]

In [29]:
# list=['a','b','c']를 for문을 사용해서 아래와 같이 출력
#1번째는 a입니다
#2번째는 b입니다
#3번째는 c입니다

li=['a','b','c']
for i, value in enumerate(li):   
    print(f'{i+1}번째는 {value}입니다.')

1번째는 a입니다.
2번째는 b입니다.
3번째는 c입니다.

In [22]:
#for문 다시보기
country=['korea','china','japan'] #컨트리에는 3개의 원자 값을 지님
 
for c in country: # For 변수 in 리스트(튜플,문자열)
    print(c)  # for문 리스트,튜플에서 원자, 원소값을 출력한다고 생각
    
    
    #파이썬에서는 for문 기본적으로 for <원소> in (목록)
    #(목록) 부분에는 list, tuple, string, 반복자(iterator), generator 등 순회가 가능한 모든 데이터 타입을 사용할 수 있
    #<원소> 부분은 순회 변수라고 하며 (목록)리스트에서 값 하나하나 추출할 때 대입할 임시 변수를 뜻함

korea
china
japan

In [38]:
# 원자값이 이중으로 여러가지 값을 가지는 경우

country=[('korea','japan'),('usa','canada')]

for (c1,c2) in country:
    print(c1+ " : " +c2)

korea : japan
usa : canada

In [27]:
number=[1,2,3,4,5]

for n in number:# number 리스트에서 하나씩 출력
    if n%2==0: #만약 n이 짝수이면
        continue #다시 처음 for문으로 돌아가
    print(n) #결국 홀수만 출력

1
3
5

In [30]:
#리스트 append 함수 활용
number =[1,2,3]
newNum=[]

for n  in number: #number 리스트에서 하나씩 꺼냄
    newNum.append(n*2) #number 변수의 원자값들에 2를 곱한 값을 newNum 변수에 저장
    
print(newNum)

[2, 4, 6]

In [31]:
li=[]
for i in range(0,20,2):
    li.append(i*i)
print(li)
print(i)
# 0,4,16,....324

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
18

In [39]:
li=[]
for i in range(0,20,2): # 1부터 19까지 2씩 증가
    li.append(i*3)    # 그 수에 *3한 값을 append해준다
print(li)
print(i)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54]
18

In [32]:
# 위의 결과값과 동일한 값을 한줄 코딩으로
print([x*x for x in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [40]:
print([x*3 for x in range(0,20,2)])

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [33]:
print(list(map(lambda i:i*i, range(0,20,2))))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [41]:
print(list(map(lambda i : i*3 , range(0,20,2))))

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [39]:
# join 함수를 이용해서 ['a','b','c']를 아래와 같이 출력
# a::b::c
a=['a','b','c']
'::'.join(['a','b','c'])

# .join(리스트) -> ['a','b','c'] 를 'abc' 문자열로 합쳐서 반환
#  구분자. join(리스트)

'a::b::c'

In [42]:
# join함수를 이용해서 ['a','b','c']  를 아래와 같이 출력
#  a::b::C
a=['a','b','c']
'::'.join(['a','b','c'])

# .join(리스트) -> ['a','b','c'] 를 'abc' 문자열로 합쳐서 반환시킴
# 구분자.join(리스트)

'a::b::c'

In [ ]:
# 두개의 숫자를 인자로 적용하여 4칙 연산을 수행하는 사용자 함수
def cal(a,b):
    return a+b, a-b, a*b, round(a/b)
cal (10,2)

In [ ]:
# 데이터를 입력하지 않으면 종료되도록 반복 안되게

while 1:
    data=input()
    if not data:
        break
    print(data)

In [3]:
def factorial(n):
    output=1
    for i in range(1,n+1): # 1부터 5까지
        output *=i 
    return output
print(factorial(5))

120

In [5]:
# 재귀란 '자기자신을 호출하는 것' 의미
# 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성
# factorial(n)=  n*factorial(n-1) (n>=1)

def factorial(n):
    if n==0:
        return 1
    else:
        return n* factorial(n-1)
    
print(factorial(5))

120

In [7]:
# list a의 모든 원소를 실수형으로 바꾸어 출력
a=[1,2,3,4,5]
for i in range(len(a)):#0부터 4까지
    a[i]=float(a[i]) #자료형(a[i])
    
print(a)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [44]:
# list a 의 모든 원소를 실수형으로 바꾸어 출력
a=[1,2,3,4,5]
for i in range(len(a)): # 0~4까지
    a[i]=float(a[i]) # 0,1,2,3,4 
    
#a[0],a[1],a[2],a[3],a[4]

print(a)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [8]:
a =[1,2,3,4,5]
a=list(map(float,a)) #변수명=list(map(자료형, 변수명))
a

# list(map(함수, 리스트)) 
# tuple(map(함수, 튜플))
# map은 리스트의 요소를 지정된 함수로 처리해주는 함수 
# map은 원본 리스트를 변경하지 않고 새 리스트를 생성

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
#문자열 리스트 states를 정형화하여 아래와 같이 출력
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina', 'West virginia']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [9]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina', 'West virginia']

def clean_strings(strings): #사용자 함수 정의
    result =[]                # 결과값을 담을 변수와 리스트설정
    for value in strings:        # strings에서 하나씩 꺼내 value에 넣어줌
        value = value.strip()     # 받은 value값을 strip 공백 제거해줌
        result.append(value)          # value를 append 뿌려준것을 result에 넣어준다
    return result                      #결과값 리턴
clean_strings(states)                   #호출

['Alabama',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

In [17]:
import re #정규표현식 패키지 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
def clean_strings(strings):
    result = []
    for value in strings:
        value=value.strip() # 양쪽 공백제거
        value=re.sub('[!#?]','',value) # 특수문자 제거
        value=value.title() # 첫 글자만 대문자로 변경
        result.append(value)
    return result

clean_strings(states) # 함수호출

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [11]:
import webbrowser
url = "https://skku.goorm.io/qna/6646"
webbrowser.open(url)

True

In [24]:
url ="https://skku.goorm.io/qna/6646"
domurl = url.split('/')
domain=domurl[-3] #도메인만 출력
print(domain)

skku.goorm.io

In [ ]:
# Q. url에서 쿼리문을 추출하여 출력
# ?뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [28]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
div1 =url.split('?')
div2 = div1[1]
print(div2.split('&'))

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [29]:
div = url.split('?')
div3 = div[1].split('&')
for e in div3:
    print(e)

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [34]:
total_note=input('총 게시물의 수를 입력 :')
note_per_page=input('한 페이지에 보여 줄 게시물의 수를 입력 : ')
total_page=(int(total_note)//int(note_per_page))
f=(int(total_note)%int(note_per_page))
if f==0:
    print(f'총 페이지 수 : {total_page}')
else:
    print(f'총 페이지 수: {total_page+1}')

총 게시물의 수를 입력 :20
한 페이지에 보여 줄 게시물의 수를 입력 : 2
총 페이지 수 : 10

In [53]:
# 랜덤하게 1000명 이름 몸무게 키 뽑기
import random
human= list('철수영희무현석열준표명박재앙우주')

with open('info.txt','w') as f: #f는 변경가능한 변수명
    for i in range(10): # 0부터 999까지 -> 1000개
        name=random.choice(human)+random.choice(human)
        weight=random.randrange(40,100)
        height=random.randrange(140,200)
        
        f.write(f'{name},{weight},{height}\n')

with open('info.txt', 'r') as f:
    human_info = f.read()
    print(human_info)

희석,84,160
열무,92,156
우준,77,141
주영,85,169
희주,66,168
앙박,80,199
무앙,74,181
재주,65,153
희앙,53,199
명무,76,155

In [66]:
# Q. 1000명에 대하여 아래와 같이 출력하세요
with open('info.txt','r') as f:
    for line in f:
        (name,weight,height) = line.strip().split(',')
        print('\n'.join([
            "이름 : {}",
            "몸무게 : {}",
            "키 : {}"
            ]).format(name,height,weight))
     
    print()

이름 : 희석
몸무게 : 160
키 : 84
이름 : 열무
몸무게 : 156
키 : 92
이름 : 우준
몸무게 : 141
키 : 77
이름 : 주영
몸무게 : 169
키 : 85
이름 : 희주
몸무게 : 168
키 : 66
이름 : 앙박
몸무게 : 199
키 : 80
이름 : 무앙
몸무게 : 181
키 : 74
이름 : 재주
몸무게 : 153
키 : 65
이름 : 희앙
몸무게 : 199
키 : 53
이름 : 명무
몸무게 : 155
키 : 76