In [2]:
# 입력값이 없 결과값 있

def say(): # def 키워드 함수명():
    return 'hi dollar'

a = say()
print(a)

hi dollar

In [5]:
# 입력값 있 결과값 없
# 결과값은 오직 return 명령어로만

def add(a,b):
    print('%d과 %d의 합은 %d이다' %(a,b, a+b))
    
add(3,4)

3과 4의 합은 7이다

In [2]:
# 입력값 결과값 모두 있

def max(a,b,c): 
    if a>b: # a>b 이고
        if a>c:  # a>c 이면
            return a # a 리턴
        elif a<c: #  a<c 이면
            return c # c 리턴
    if a<b: # a<b 이고
        if b>c: # b>c 이면
            return b # b가 젤 큼 -> b리턴
        else:
            return c # 아니면 c가 젤큼 -> c리턴
        
print('가장 큰 수는 %d입니다.' %max(20,1,30))
# max(10,20,30)

가장 큰 수는 30입니다.

In [6]:
def math(x, y, z):
    if z=='*':
        return x*y
    elif z=='/':
        return x/y
    elif z=='+':
        return x+y
    elif z=='%':
        return x%y
    elif z=='^':
        return x**Y
    elif z=='-':
        return x-y
    elif z=='//':
        return x//y
    else:
        return
    
print(math(int(input("숫자1 :  ")), int(input("숫자2 : ")), input("기호 : ")))
# math(10,2,'//')

숫자1 :  5
숫자2 : 15
기호 : +
20

In [8]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,565)
        # f'{} .. {}'

'3 smaller than 565'

In [14]:
# 여러 개의 입력값을 받는 함수
# *args처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args): # 튜플 자체에서는 값 변경이 안됨 -> 리스트로 변환하여 원소의 값 변경 가능
    i=0
    add=0 # 합을 담을 변수 선언 및 초기화
    for i in args: # 리스트 args의 값을 하나씩 꺼내 i로 전달
        add+=i # add = add+i
    
  # print(i)
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

10

55

In [6]:
# 함수의 반환 값은 언제나 하나임 - > 결과 값으로 튜플 값 하나를 갖게 됨

def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)
type(result)

(7, 12)

tuple

In [7]:
# add_mul()함수를 정의 1,2,3,4,5를 입력 값으로 적용 덧셈,곱셈 연산 수행

def add_mul(choice, *args): # 함수정의 ():
    if choice =='+':  # 초이스가 +이면
        result=0        # 결과값 담을 변수 초기화 및 설정
        for i in args: # 리스트 args의 값을 하나씩 꺼내 i로 전달
            result+=i   # result 합 
        return result   # 결과 리턴

    elif choice=='*':  
        result=1           # 결과값 담을 변수 1로 왜? 0되면 곱해도 0이므로
        for i in args:
            result *=i
        return result
    else:
        print('오류')
    
#add_mul('+', 1,2,3,4,5)
add_mul('*', 1,2,3,4,5)

120

In [3]:
# 뺄셈 나눗셈 멀티 계산 함수 작성

def sub_div(choice, *args): # 뺄셈 나눗셈, 입력받을 인자
    if choice =="sub":    # sub면
        result=args[0]     # a[0]의 값 result 담기
        for i in args[1:]: # a[0] 원소 값 빼고 모두 뽑기
            result-=i # 결과값에서 계속 i 빼주기
        return result
    
    elif choice =='div':
        result =args[0] # 입력받은 첫인자 값을 result라는 변수에 담기
        for i in args[1:]: # 입력 받은 인자 모두 뽑기 -> args[0]빼고 1,2,3... 끝까지
            if i ==0: # 그 수가 0이면
                return print("오류") # 오류 출력
            result /= i # 아니면 i를 계속해서 나누기
        return result
    
sub_div('sub',2,4,6,8)

-16

In [13]:
ars =[ 1,2,3,4,5,6,7]
for i in ars[1:5]: # ars[1:] - > 2~7까지 출력
    print(i)

2
3
4
5

In [20]:
a=1
def vartest(a): #함수 안에서 선언된 변수의 효력 범위 -> 밖에서는 효력이 없다 
    a+=1

print(vartest(a))
print(a)

None
1

In [23]:
# 파이썬에서 지역 변수(local variable)란 함수 내에서 선언된 변수를 의미합니다.
# 이렇게 함수 내에서 선언된 지역 변수는 일반적으로 함수 내에서만 사용할 수 있습니다.
def func():
    local_var = "지역 변수"
    print(local_var)    
# print(local_var) 오류뜸 -> 함수 내에서만 사용 가능
func()

지역 변수

In [24]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용
a = 1
def vartest(a):
    a+=1
    return a
a = vartest(a)
print(a)

2

In [25]:
def func():
    global global_var
    local_var = "지역 변수"
    print(local_var)
    print(global_var)    

global_var = "전역 변수"
func()

print(global_var)

지역 변수
전역 변수
전역 변수

In [19]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a 
    a +=1 # a = a+1
vartest()
print(a)

2

In [26]:
#파일 읽고 쓰기
f=open('test1.txt','w')
for i in range(1,11): #1부터 10까지 횟수반복 i에 횟수 할당
    data ='%d번째 줄입니다.\n'%i #쓸 내용 
    f.write(data)
f.close()

In [32]:
f=open('test1.txt','r')
line=f.readline() #f.readlin()을 line 변수로 설정  readline함수는 한번에 한 라인씩 읽음
print(line) #line을 출력    #readlines 여러 라인을 리스트에 저장
f.close()
type(line)

1번째 줄입니다.

str

In [52]:
f=open('test1.txt','r') # text1.txt 읽기 
for i in range(10): #10번까지
    line =f.readline()
    print(line)
f.close()
type(line)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

str

In [40]:
# f.read()는 파일 내용 전체를 문자열로 반환
f=open('test1.txt','r')
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [34]:
f=open('test1.txt','a') # a(뒤에 내용을 추가)
for i in range(21,27): #21 ~ 26까지 출력
    data='\n %d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [37]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

 21번째 줄입니다.

 22번째 줄입니다.

 23번째 줄입니다.

 24번째 줄입니다.

 25번째 줄입니다.

 26번째 줄입니다.

 21번째 줄입니다.

 22번째 줄입니다.

 23번째 줄입니다.

 24번째 줄입니다.

 25번째 줄입니다.

 26번째 줄입니다.

In [41]:
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [40]:
with open('foo.txt','r') as f:
    data= f.read()
    print(data)

파이썬을 배웁시다.

In [39]:
with open('test1.txt','w') as f:
      for i in range(1,11):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)          
'''
f=opne('test1.txt','a')
for i in range(21,25)
data ='\n %d번째 줄입니다.\n'% i
f.write(data)
f.close
'''

"\nf=opne('test1.txt','a')\nfor i in range(21,25)\ndata ='\n %d번째 줄입니다.\n'% i\nf.write(data)\nf.close\n"

In [41]:
with open('test1.txt','a') as f: #추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용
    for i in range(121,126):
        data=f'{i}번째 줄입니다.\n'
        f.write(data)

In [51]:
with open('test1.txt','r') as f:
    data=f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
121번째 줄입니다.
122번째 줄입니다.
123번째 줄입니다.
124번째 줄입니다.
125번째 줄입니다.

In [45]:
#내장 함수 
print(abs(-3))
print(all([1,2,3,0])) #x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) #x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))

3
False
True
A

In [46]:
sum= lambda a,b:a+b #람다함수 변수명 =lambda 인자:식
sum(3,4)

7

In [48]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [66]:
print(len('python'))  # p y t h o n
print(len([1,2,3])) 
print(len([1,2,'a']))

6
3
3

In [4]:
list(range(5)) #0~4출력
list(range(1,6)) #1부터 5까지
list(range(1,10,2)) #1~9까지 +2씩
list(range(0,-10,-1)) #0~ -9까지 역순으로

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [67]:
print(divmod(7,3)) # 몫 2 나머지 1

(2, 1)

In [52]:
#순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']): #  0 james, 1 tom, 2 susan
    print(i,name)

0 james
1 tom
2 susan

In [69]:
#실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

3

In [70]:
li=[0,1,2,7,5,6]
li.sort(reverse=True)
li

[7, 6, 5, 2, 1, 0]

In [71]:
# 정렬된 결과를 반환하는 함수는 본체는 변형되지 않음
li=[0,2,1,5,4]
s =sorted(li) #정렬로 출력만 가능, 원래의 요소가 변형되지 않는다는 의미
print(s)
li

[0, 1, 2, 4, 5]

[0, 2, 1, 5, 4]

In [72]:
#pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
import pickle
f=open('test.txt','wb') # r 읽기모드 (디폴트), w 쓰기모드(파일이 있으면 모든 내용을 삭제) a(뒤에 내용을 추가)
data={1:'python',2:'you need'} # rt(텍스트 읽기) wb(쓰기 바이너리 모드)
pickle.dump(data,f)
f.close()

In [73]:
import pickle
f = open('test.txt','rb') # rb(읽기 바이너리 모드)
data=pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [49]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\cakd5\workspace\m1_programming/*.txt')

['C:\\cakd5\\workspace\\m1_programming\\foo.txt',
 'C:\\cakd5\\workspace\\m1_programming\\info.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test1.txt']

In [51]:
import time
time.time()

1643378077.3463123

In [52]:
# 반환된 실수값을 이용해서 연도, 월, 일, 시, 분, 초의 형태로 바꾸어 줌
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=28, tm_hour=22, tm_min=54, tm_sec=38, tm_wday=4, tm_yday=28, tm_isdst=0)

In [53]:
# 날짜와 시간을 알아보기 쉬운 형태로 리턴# 날짜와 시간을 알아보기 쉬운 형태로 리턴
time.asctime(time.localtime(time.time()))

'Fri Jan 28 22:54:40 2022'

In [54]:
# asctime과 다른 점은 ctime은 항상 현재 시간만을 리턴
time.ctime()

'Fri Jan 28 22:55:04 2022'

In [89]:
# time.sleep() 일정한 시간 간격을 두고 루프를 실행할 수 있음

import time
for i in range(5):
    print(i)
    time.sleep(2)

0
1
2
3
4

In [58]:
import calendar
print(calendar.prmonth(2021,12))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
None

In [93]:
# 요일(0 월요일 ~ 6 일요일) 0월 1화 2수 3목 4금 5토 6일
print(calendar.weekday(2022,1,8))

5

In [59]:
#각해당년도의 월의 1일이 몇번쨰인지 반환, 해당월의 전체 날짜 수 반환
calendar.monthrange(2022,3)

(1, 31)

In [99]:
import webbrowser
webbrowser.open('http://www.naver.com')

True

In [5]:
#내장 함수를 이용해서 list =[0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요
list_1 =[0,1,2,3,4,5,6]
del list_1[2]
print(list_1)

[0, 1, 3, 4, 5, 6]

In [60]:
a=[0,1,2,3,4,5,6]
print(a)
a.pop(2)  # 2 삭제후 출력
print(a)
a.pop() 
print(a) #인덱스를 생략한 경우에는 마지막 값을 취득하고 삭제합니다.

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5]

In [61]:
lt = [0, 1, 2, 3, 4, 5, 6]
lt.remove(2) # 값 2를 삭제 
lt

[0, 1, 3, 4, 5, 6]

In [63]:
# 내장함수를 이용하여 모든 원소 삭제 후 출력
List_2 =[0,1,2,3,4,5,6]
del List_2[:] # 전체 삭제
print(List_2)

[]

In [71]:
List_3 =[0,1,2,3,4,5,6]
del List_3[:4] # 0부터 4번째 index까지 삭제
print(List_3)

[4, 5, 6]

In [73]:
#람다 함수와 적합한 내장함수를 사용하여 아래와 같이 출력
#[1,2,3,4,5] -> [1,4,9,16,25] > 1*1 ..5*5
#[1,2,3,4,5]->[1,2] 3,4,5 삭제

square = lambda a: a*a  # lambda 인자 : 식
lst =[square(i) for i in range(1,6)] # list = return대상 for 반복변수 in 범위 (if 조건식)]
print(lst)

lst_2=[1,2,3,4,5]
filtered_list=filter(lambda a:(a<3), lst_2) # 3보다 작은거 필터
print(list(filtered_list))

[1, 4, 9, 16, 25]
[1, 2]

In [74]:
li = [1,2,3,4,5]
blank = [[],[],[],[],[]]
# blank = [0], [1], [2], [3], [4]

exp = lambda a,b:(li[a]**b) # li[0]**2 -> 1   # li[1]**2 -> 4 ... li[4]**2 ->25
for i in range(5):
    blank[i]= exp(i,2) # blank[0]=exp(0,2) , blank[1]= exp(1,2) ... blank[4]=exp(4,2)
print(blank)

del li[2:] # index 0,1 빼고 다 삭제
print(li)

[1, 4, 9, 16, 25]
[1, 2]

In [9]:
# [1,-3,2,0,-5,6]에서 양수만 필터링해서 출력
x=[1,-3,2,0,-5,6]
list(filter(lambda x: x>0 , x)) # lambda 인자 : 조건식

[1, 2, 6]

In [ ]:
#내장함수 이용 자료형을 좌에서 우로 변환
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6],[7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def')->[('a','d'),('b','e'),('c','f')]

In [14]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]

ab=list(zip([1,2,3],[4,5,6])) # zip(*iterable) : 동일한 개수로 이루어진 자료형을 묶어 줌
print(ab)

abc=list(zip([1,2,3],[4,5,6],[7,8,9]))
print(abc)

alp_1=list(zip('abc','def'))
print(alp_1)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [15]:
num=[1,2,3]
lt=['a','b','c']
for pair in zip(num, lt): #변수를 써도 가능
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
#입력으로 들어오는 모든 수의 평균 값 계산
def avg(*args):
    sum=0
    for i in args:
        sum+=i
    return sum/len(args) #인자 길이값만큼 나누기

avg(10,20,30) #함수 호출

20.0

In [18]:
# strings를 다양한 문자가 포함된 순서로 정렬
strings=['a','ca','bar','aaaa','ababa']

strings.sort(key=lambda x:len(set(x))) #set로 중복제거해준 길이 값으로 소트해줌
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [21]:
# 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬
stirngs=('a','ca','bar','aaaa','ababa')
lists=list(strings)
lists.sort(key=lambda x: len(set (x)))

#list[::-1]  arr[A:B:C]의 의미는, index A 부터 index B 까지
                 # C의 간격으로 배열을 만들라는 의미
                  # [::-1] 뜻은 처음부터 끝까지 -1 역순으로

tup =tuple(lists)
tup[::-1]

('bar', 'ababa', 'ca', 'aaaa', 'a')

In [76]:
arr=[0,1,2,3,4,5,6,7,8,9] # arr=range(10)

print(arr)
#arr[::2] #0~9까지 +2씩 증가
#arr[::-2] #0~9까지 역순으로 -2씩 
#arr[3::2] #index 3번째부터 끝까지 +2씩 증가
arr[:8:2] #index 처음부터 8번째까지(끝은 포함 x) +2씩 증가
arr[3::-1] #index (마지막)3부터 시작해서 처음까지 -1(역순으로)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[3, 2, 1, 0]